<form *ngIf="hero" class="hero-form">
  <div>
    <h2>{{hero.HeroName}} Detail</h2>
    <mat-form-field class="hero-full-width" appearance="fill">
      <mat-label>Hero ID: {{hero.HeroId}} </mat-label>
      <mat-label>Hero Name:</mat-label>
      <input matInput name="heroname" #heroname="ngModel" type="text" placeholder="Hero"  [(ngModel)]="hero.HeroName" required >
      <mat-error>This field is required</mat-error>
    </mat-form-field>
  </div>
  <button mat-button  (click)="goBack()">Back <mat-icon>arrow_back</mat-icon></button>
  <button mat-button  (click)="save()">Save <mat-icon>save</mat-icon></button>
</form>
