<div class="container">
<mat-card class ="hero-card">
  <mat-card-header class="hero-card-header">
    <mat-card-title class="hero-card-title">
      Form Super Hero
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../assets/images/hero.jpg" alt="Photos of Hero">
  <mat-card-content>
    <form (ngSubmit)="onSubmit(heroName.value, heroPower.value, heroEgo.value)" class = "hero-form">
      <mat-form-field class = "hero_form__row">
        <mat-label>Name</mat-label>
        <input matInput class = "hero-form__input" #heroName>
      </mat-form-field>
      <mat-form-field class = "hero_form__row">
        <mat-label>Alter Egco</mat-label>
        <mat-select #heroPower>
          <mat-option  *ngFor="let power of powers" [value]="power" >
            {{power}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class = "hero_form__row">
        <mat-label>Power</mat-label>
        <input matInput class = "hero-form__input" #heroEgo>
      </mat-form-field>
      <mat-card-actions class = "hero-event">
        <button type="submit" mat-raised-button>
          Submit
        </button>
        <a mat-raised-button>Back
        </a>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
  <!-- <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Alter Ego</div>
      <div class="col-xs-9">{{ model.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Power</div>
      <div class="col-xs-9">{{ model.power }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div> -->
</div>
