.hero-card {
  max-width: 400px;
  min-width: 300px;
  margin: 10px;
  text-align: center;
  .hero-card-header {
    flex-direction: column;
  }
  .hero-form {
    width: 100%;
    .hero_form__row {
      display: block;
    }
  }
  .hero-event {
    text-align: right;
  }
}
