.hero-form {
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  display: center;
  .hero-row {
    display: inline-flex;
    justify-content: space-around;
    .input-item {
      width: 100%;
      display: block;
    }
    .mat-label {
      display: inline-block;
      margin-right: 20px;
    }
  }
}
