<div class="container">
  <div [hidden]="submitted">
    <h1>Hero Form</h1>
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm" class ="hero-form">
        <div class="form-row">
          <mat-label>Name</mat-label>
          <mat-form-field class="input-item">
            <input matInput>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-label>Alter Ego</mat-label>
          <mat-form-field>
            <mat-select matNativeControl [disabled]="disableSelect.value">
              <mat-option *ngFor="let pow of powers" [value]="pow">{{pow}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-label>Hero power</mat-label>
          <mat-form-field class="input-item">
            <input matInput>
          </mat-form-field>
        </div>
        <button type="submit" mat-button [disabled]="!heroForm.form.valid">Submit</button>
        <button type="button" mat-button (click)="newHero(); heroForm.reset()">New Hero</button>
      </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Alter Ego</div>
      <div class="col-xs-9">{{ model.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Power</div>
      <div class="col-xs-9">{{ model.power }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>
