<h2>My Heroes</h2>
<div class ="new-hero">
  <label for="new-hero">Hero name: </label>
  <mat-form-field>
    <input matInput id="new-hero" #heroName />
  </mat-form-field>
  <button mat-raised-button (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>
<ul class="list-heroes">
  <li *ngFor='let hero of heroes' class='hero-item'>
    <a mat-button routerLink="detail/{{hero.HeroId}}" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
      <mat-icon>favorite</mat-icon><span class="badge"></span>{{hero.HeroId}}<span class="badge"></span> {{hero.HeroName}}
    </a>
    <button mat-raised-button class="delete-hero" title="delete hero"
    (click)="delete(hero)"><mat-icon>delete</mat-icon></button>
  </li>
</ul>
